# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
releases
start.bit
projects/.flags
/*-*-*/
/*-*-*.bit
*-*-mine*
*.guid
.prefixes
*.tmp
.DS_Store
*.dmp
bit.sublime-*
project.xcworkspace
xcuserdata/
