# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
releases
start.me
projects/.flags
/*-*-*/
/*-*-*.me
*-*-mine*
*-mine*
*.guid
.prefixes
*.tmp
.DS_Store
*.dmp
me.sublime-*
project.xcworkspace
xcuserdata/
testme
start.me
/build/
